.header {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #101685;
    gap: 16px;
}

.nav {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.containerItem {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 660px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        gap: 16px;
    }

    .containerItem:nth-child(1) {
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 7px;
}
