
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;

}

.containerMenuNav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  max-width: 100%;
}

.itemContainer {
  min-width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  place-items: center;
  gap: 4px;
}


.logo {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}


.contactContainer {
  position: relative;
  display: flex;
  min-height: 185px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("/images/section.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contactFilter {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.75;
  background: rgba(17, 17, 17, 0.71);
}

.contact {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  min-width: 65vw;
  min-height: 125px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 10px;
}

.imgGrid {
  padding: 4rem
}

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 10px;
  }


  .imgGrid {
    padding: 1rem
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: relative;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 382px;
  background-color: #f2f2f2;
  padding: 10px;
}


.gridButton {
  position: absolute;
  top: -14px;
  left: 1rem;
}


.map {
  width: 100%;
  height: 100%;
}
.rest{
  
  max-width: 60vw;
  margin: auto;
 

  
}

.formulario{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  width: auto;
  height: auto;
  background-color: rgb(95, 158, 160);
}
.form{
  
  background-color: rgba(7, 19, 151, 0.822);
  padding: 20px;
  margin: 20px;
}

.input{
  color: black;
  width:100%;
  display: block;
  background: #f3f3f3;
  padding: 20px;
  border: none;
  font-size: 20px;
  margin-bottom: 15px;
}

.textarea{
  resize: none;
  height: 215px;
  margin-bottom: 50px;
}

.button{
  height: 70px;
  width: 50%;
  display: block;
  color: #fff;
  background: black;
  font-size: 20px;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

.button:hover{
  background: blue;
  color: black;
}


.titulo{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
}