/* footer.module.css */

.footerContainer {
    max-width: 100%;
    background-color: #101685;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 2rem
  }
  
  .containerContent {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    max-width: 100%;
    align-items: flex-start;
  }
  
  .footerSections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    place-items: center; 
    flex-grow: 1;
  }
  
  .sectionLogo {
    display: none;
    flex-direction: column;
    min-width: 16rem;
    max-width: 16rem;
    gap: 15px;
    padding: 15px;
    overflow: hidden;
    max-height: 252px;
    align-items: center;
  }
  
  .section {
    padding: 15px;
    overflow: hidden;
    max-height: 252px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .section:nth-child(1) {
    padding: 15px;
    overflow: hidden;
    max-height: 252px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  
  .footerDow {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    min-height: 96px;
  }
  .section18 {
    align-items: flex-start;
    border-color: #7a7a7a;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex: 0 0 auto;
    padding: 1px 360px 0px;
    position: relative;
    width: 1860px;
  }
  .div32 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    position: relative;
    width: 1140px;
  }
  .div33 {
    height: 24px;
    position: relative;
    width: 1120px;
  }
  .elementconcretos{
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 291px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: -2px;
    white-space: nowrap;
  }

  .elementsvg {
    height: 16px;
    left: 589px;
    position: absolute;
    top: 3px;
    width: 16px;
  }


  .anddeveloped{
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 605px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: -2px;
    white-space: nowrap;
  }
  
  .linkstrong {
    align-items: flex-start;
    display: inline-flex;
    justify-content: center;
    left: 735px;
    padding: 0px 0.46px 0px 2.98px;
    position: absolute;
    top: -1px;
  }
  
  .textwrapper28 {
    color: #d4d4d4;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .div27 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 97.53px 0px 96.47px;
    position: relative;
    width: 1120px;
  }
  
  .textwrapper29 {
    color: #ffffffa8;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  @media (max-width: 950px) {
    .containerContent {
      flex-direction: column;
      min-width: 100%;
      align-items: center;
    }
    .sectionLogo {
      display: flex;
    }
    .section:nth-child(1) {
      display: none;
    }
    .footerSections {
      min-width: 100%;
    }
  }

  