.footerContainer {
    padding-left: 5rem;
    padding-right: 5rem;
}


.footerSections {
    min-height: 252px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    flex-wrap: wrap;
    place-items: center;
    background-color: rebeccapurple;
}

.section {
    height: 252px;
}

.footerDow {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    min-height: 96px;
}